{% extends "home.html" %}
{% load crispy_forms_tags %}
{%load static%}
{%block content %}
	<div class="header">
		<h1>List of Items</h1>
	</div>
	<br>
	<form method='POST' action=''>
		{% csrf_token %}
		{{form|crispy}}
			<input type="submit" value='Search'/>
	</form>
	<br>
	<br>
	<div class="display_table">           
		<table class="table table-bordered">
			<thead>
				<tr>
				<th>Count</th>
				<th>CATEGORY</th>
				<th>Item NAME</th>
				<th>QUANTITY Remaining</th>
				</tr>
			</thead>
			<tbody>
				{% for instance in queryset %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{instance.category}}</td>
					<td>{{instance.item_name}}</td>
					<td>{{instance.quantity}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{%endblock%}