{% extends "home.html" %}
{% load crispy_forms_tags %}
{%load static%}
{%block content %}
{% if messages %}
<ul class="messages">
	   {% for message in messages %}
			 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	   {% endfor %}
</ul>
{% endif %}
	<div class="header">
		<h1>List of Items</h1>
	</div>
	<br>
	<form method='POST' action=''>
		{% csrf_token %}
		{{form|crispy}}
			<input type="submit" value='Search'/>
	</form>
	<br>
	<br>
	<div class="display_table">           
		<table class="table table-bordered">
			<thead>
				<tr>
				<th>Count</th>
				<th>CATEGORY</th>
				<th>Item NAME</th>
				<th>QUANTITY in the Stock</th>
				<th>Delete Item</th>
				</tr>
			</thead>
			<tbody>
				{% for instance in queryset %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{instance.category}}</td>
					<td><a href="{% url 'update_items' instance.id %}">{{instance.item_name}}</a></td>
					<td>{{instance.quantity}}</td>
					<td><a href="{% url 'delete_items' instance.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{%endblock%}